__Libraries__

In [1]:
from pyspark import SparkContext
from pyspark.sql import SparkSession, Row
from pyspark.sql.types import StructType
from pyspark.sql.functions import monotonically_increasing_id, row_number
from pyspark.sql.window import Window

In [2]:
from geopy.geocoders import Nominatim
import geopy
from geopy.extra.rate_limiter import RateLimiter
geopy.geocoders.options.default_user_agent = "BDBA"
from tqdm import tqdm

__Open Environment__

In [3]:
sc = SparkContext(appName="SparkforEachRDDapp")
spark = SparkSession(sc)

__Read Data__

In [4]:
vehic= spark.read.json('vehicles.json')
vehic.show()

+-------------+-------------+------------------+-------------------+----------+---------------+
|accelerometer| datetime_utc|          latitude|          longitude|vehicle_id|   vehicle_type|
+-------------+-------------+------------------+-------------------+----------+---------------+
|          166|1.588490942E9| 40.57007465863976|-3.6071938480844157|  9263 QVR|           taxi|
|          133|1.588489965E9| 40.44546287335486|-3.5125486436404882|  2895 YDK|            bus|
|          162|1.588490498E9| 40.30815660225567| -3.909501918887368|  6030 ZFZ|private_vehicle|
|            8|1.588490703E9| 40.47042101938655|-3.4346389045623913|  9731 WXJ|          truck|
|           56|1.588490768E9| 40.41651432933575| -3.916999450399277|  3719 XBS|            bus|
|           13|1.588490117E9| 40.42268107917671| -3.482537435543491|  8147 BPF|private_vehicle|
|          119|1.588490066E9| 40.55716134032274| -3.633252828413418|  5823 WMS|            bus|
|          164| 1.58848948E9| 40.44211686617688|-3.8296335336151293|  9004 SWS|          truck|
|           10|1.588489499E9|40.278834809179024|-3.8680087495362443|  4990 FYZ|          truck|
|           37|1.588489514E9| 40.55624580290674| -3.830169858736617|  3800 BYQ|           taxi|
|          158|1.588490885E9|40.365424474175065|-3.5055162695912654|  2438 ZHK|          truck|
|          137|1.588490993E9| 40.45153290902815|-3.7322600335322087|  1898 VRM|private_vehicle|
|          161|1.588489556E9| 40.34332621872282|-3.6009947179145136|  7866 DTJ|           taxi|
|           88|1.588490928E9|40.296686171830316| -3.730661821063543|  2895 KQB|private_vehicle|
|           71|1.588489555E9|40.295571690880024| -3.822781484677027|  3967 MRN|           taxi|
|           80|1.588490419E9|40.555456356417395|-3.5098996785802057|  2093 FTY|            bus|
|           60|1.588490967E9| 40.24278794581995|-3.8752882313121058|  6922 MQT|private_vehicle|
|          162|1.588489669E9|40.608376368138984| -3.732645244041724|  0711 SFN|           taxi|
|          154|1.588489679E9|40.227314141490545|-3.8213862707865354|  3255 YWG|          truck|
|           29|1.588490058E9|40.618205498772795|-3.8861302158396955|  8873 QHM|private_vehicle|
+-------------+-------------+------------------+-------------------+----------+---------------+
only showing top 20 rows

In [5]:
roads= spark.read.json('roads.json')
roads.show()

+------------+---------+------------+--------------------+
|has_bus_lane|min_speed|number_lanes|           road_name|
+------------+---------+------------+--------------------+
|           0|       25|           1|                 A-3|
|           0|       50|           4|               AP-41|
|           0|       60|           1|Acceso Parque de ...|
|           1|       50|           3|Acceso a la Colon...|
|           1|       60|           1|    Acequia Quintano|
|           0|       25|           1|Aeropuerto T1 Sal...|
|           1|       60|           2|Aeropuerto T4 Lle...|
|           1|       25|           3|Aeropuerto T4 Lle...|
|           1|       25|           2|Anillo Verde Cicl...|
|           0|       25|           1|       Antigua M-111|
|           0|       50|           3|       Antigua M-506|
|           0|       60|           4|Autopista Radial R-2|
|           1|       25|           2|Autopista radial ...|
|           1|       25|           3|Autovía Villavici...|
|           1|       25|           1| Autovía de Colmenar|
|           1|       60|           2|   Autovía de Toledo|
|           0|       50|           2|Autovía de los Pa...|
|           0|       60|           4|    Autovía del Este|
|           0|       50|           3|Autovía del Nordeste|
|           0|       50|           1|Autovía del Noroeste|
+------------+---------+------------+--------------------+
only showing top 20 rows

**Get Road Names**

In [6]:
def road_from_coord(lat, lon):
    coordinates= str(lat)+ ','+str(lon)
    #10 mins maximum timeout to prevent being blocked
    locator = Nominatim(timeout=10)
    rgeocode = RateLimiter(locator.reverse, min_delay_seconds=0.001)
    location = rgeocode(coordinates)
    return(location.raw['address']['road'])

In [7]:
road_names = []
for i in tqdm(range(vehic.count())):
    road_names.append(road_from_coord(vehic.collect()[i]['latitude'],vehic.collect()[i]['longitude']))

100%|██████████| 4646/4646 [38:42<00:00,  2.00it/s]

__Add them to the df__

In [8]:
row = Row("road_name")
rdd = spark.sparkContext.parallelize(road_names)
rf=rdd.map(row).toDF()

vehic=vehic.withColumn('row_index', row_number().over(Window.orderBy(monotonically_increasing_id())))
rf=rf.withColumn('row_index', row_number().over(Window.orderBy(monotonically_increasing_id())))

vehic = vehic.join(rf, ["row_index"],how="inner").drop("row_index")

In [9]:
vehic.show()

+-------------+-------------+------------------+-------------------+----------+---------------+--------------------+
|accelerometer| datetime_utc|          latitude|          longitude|vehicle_id|   vehicle_type|           road_name|
+-------------+-------------+------------------+-------------------+----------+---------------+--------------------+
|          166|1.588490942E9| 40.57007465863976|-3.6071938480844157|  9263 QVR|           taxi|Avenida Puente Cu...|
|          133|1.588489965E9| 40.44546287335486|-3.5125486436404882|  2895 YDK|            bus|Plaza de los Plan...|
|          162|1.588490498E9| 40.30815660225567| -3.909501918887368|  6030 ZFZ|private_vehicle|Autovía del Suroeste|
|            8|1.588490703E9| 40.47042101938655|-3.4346389045623913|  9731 WXJ|          truck|Avenida de los Pr...|
|           56|1.588490768E9| 40.41651432933575| -3.916999450399277|  3719 XBS|            bus|Carretera de Boad...|
|           13|1.588490117E9| 40.42268107917671| -3.482537435543491|  8147 BPF|private_vehicle|Vereda del Camino...|
|          119|1.588490066E9| 40.55716134032274| -3.633252828413418|  5823 WMS|            bus|Avenida Antonio M...|
|          164| 1.58848948E9| 40.44211686617688|-3.8296335336151293|  9004 SWS|          truck|                M-40|
|           10|1.588489499E9|40.278834809179024|-3.8680087495362443|  4990 FYZ|          truck|Camino Vecinal de...|
|           37|1.588489514E9| 40.55624580290674| -3.830169858736617|  3800 BYQ|           taxi|   Camino de Sacedón|
|          158|1.588490885E9|40.365424474175065|-3.5055162695912654|  2438 ZHK|          truck|Camino Particular...|
|          137|1.588490993E9| 40.45153290902815|-3.7322600335322087|  1898 VRM|private_vehicle|Calle Profesor Ju...|
|          161|1.588489556E9| 40.34332621872282|-3.6009947179145136|  7866 DTJ|           taxi|                M-50|
|           88|1.588490928E9|40.296686171830316| -3.730661821063543|  2895 KQB|private_vehicle|Paseo de John Lennon|
|           71|1.588489555E9|40.295571690880024| -3.822781484677027|  3967 MRN|           taxi|Calle de las Azuc...|
|           80|1.588490419E9|40.555456356417395|-3.5098996785802057|  2093 FTY|            bus|               M-100|
|           60|1.588490967E9| 40.24278794581995|-3.8752882313121058|  6922 MQT|private_vehicle|               AP-41|
|          162|1.588489669E9|40.608376368138984| -3.732645244041724|  0711 SFN|           taxi|GR-124;Senda Real...|
|          154|1.588489679E9|40.227314141490545|-3.8213862707865354|  3255 YWG|          truck|Camino de Griñón ...|
|           29|1.588490058E9|40.618205498772795|-3.8861302158396955|  8873 QHM|private_vehicle|Cordel de Cerrast...|
+-------------+-------------+------------------+-------------------+----------+---------------+--------------------+
only showing top 20 rows

**Join Both Feeds**

In [10]:
df=vehic.join(roads, ['road_name'], how="inner")

In [11]:
df.show()

+--------------------+-------------+-------------+------------------+-------------------+----------+---------------+------------+---------+------------+
|           road_name|accelerometer| datetime_utc|          latitude|          longitude|vehicle_id|   vehicle_type|has_bus_lane|min_speed|number_lanes|
+--------------------+-------------+-------------+------------------+-------------------+----------+---------------+------------+---------+------------+
|Avenida Puente Cu...|          166|1.588490942E9| 40.57007465863976|-3.6071938480844157|  9263 QVR|           taxi|           1|       50|           1|
|Plaza de los Plan...|          133|1.588489965E9| 40.44546287335486|-3.5125486436404882|  2895 YDK|            bus|           1|       50|           4|
|Autovía del Suroeste|          162|1.588490498E9| 40.30815660225567| -3.909501918887368|  6030 ZFZ|private_vehicle|           0|       60|           3|
|Avenida de los Pr...|            8|1.588490703E9| 40.47042101938655|-3.4346389045623913|  9731 WXJ|          truck|           1|       25|           3|
|Carretera de Boad...|           56|1.588490768E9| 40.41651432933575| -3.916999450399277|  3719 XBS|            bus|           1|       25|           1|
|Vereda del Camino...|           13|1.588490117E9| 40.42268107917671| -3.482537435543491|  8147 BPF|private_vehicle|           0|       60|           4|
|Avenida Antonio M...|          119|1.588490066E9| 40.55716134032274| -3.633252828413418|  5823 WMS|            bus|           0|       60|           1|
|                M-40|          164| 1.58848948E9| 40.44211686617688|-3.8296335336151293|  9004 SWS|          truck|           0|       50|           3|
|Camino Vecinal de...|           10|1.588489499E9|40.278834809179024|-3.8680087495362443|  4990 FYZ|          truck|           1|       25|           3|
|   Camino de Sacedón|           37|1.588489514E9| 40.55624580290674| -3.830169858736617|  3800 BYQ|           taxi|           1|       25|           3|
|Camino Particular...|          158|1.588490885E9|40.365424474175065|-3.5055162695912654|  2438 ZHK|          truck|           0|       60|           3|
|Calle Profesor Ju...|          137|1.588490993E9| 40.45153290902815|-3.7322600335322087|  1898 VRM|private_vehicle|           0|       60|           1|
|                M-50|          161|1.588489556E9| 40.34332621872282|-3.6009947179145136|  7866 DTJ|           taxi|           1|       50|           1|
|Paseo de John Lennon|           88|1.588490928E9|40.296686171830316| -3.730661821063543|  2895 KQB|private_vehicle|           1|       60|           1|
|Calle de las Azuc...|           71|1.588489555E9|40.295571690880024| -3.822781484677027|  3967 MRN|           taxi|           0|       25|           3|
|               M-100|           80|1.588490419E9|40.555456356417395|-3.5098996785802057|  2093 FTY|            bus|           1|       25|           4|
|               AP-41|           60|1.588490967E9| 40.24278794581995|-3.8752882313121058|  6922 MQT|private_vehicle|           0|       50|           4|
|GR-124;Senda Real...|          162|1.588489669E9|40.608376368138984| -3.732645244041724|  0711 SFN|           taxi|           0|       60|           3|
|Camino de Griñón ...|          154|1.588489679E9|40.227314141490545|-3.8213862707865354|  3255 YWG|          truck|           0|       50|           2|
|Cordel de Cerrast...|           29|1.588490058E9|40.618205498772795|-3.8861302158396955|  8873 QHM|private_vehicle|           0|       25|           3|
+--------------------+-------------+-------------+------------------+-------------------+----------+---------------+------------+---------+------------+
only showing top 20 rows

**Define Traffic Location**

If accelerometer < min_speed and count(vehicle_id) > (50*number_lanes) we declare there is traffic

In [23]:
df.createOrReplaceTempView("df")
results = spark.sql("select road_name, count(vehicle_id) from df \
                    where accelerometer < min_speed \
                    group by road_name, number_lanes, has_bus_lane\
                    having count(vehicle_id) > (50*(number_lanes-has_bus_lane))")
results.show()

+--------------------+-----------------+
|           road_name|count(vehicle_id)|
+--------------------+-----------------+
|  Camino del Espinar|                3|
|Carretera Particu...|                2|
|Avenida de la Pes...|                1|
| Calle Enrique Casas|                1|
|Calle de Valdemor...|                1|
|                M-50|               28|
| Calle de la Romería|                1|
|   Avenida de Burgos|                3|
|               M-301|                6|
| Cañada de Matamuñoz|                4|
|Carretera camino ...|                3|
|   Avenida de Marsil|                1|
|Avenida de la Ber...|                2|
|                M-45|               10|
|      Calle Marañosa|                3|
|Calle de Extremadura|                1|
|      Calle Bulgaria|                1|
|   Avenida del Pardo|                3|
|   Avenida de Aragón|                1|
|Calle de Dionisio...|                1|
+--------------------+-----------------+
only showing top 20 rows

__Download Results__

https://community.cloudera.com/t5/Support-Questions/How-to-save-all-the-output-of-pyspark-sql-query-into-a-text/td-p/204560

In [20]:
#results.coalesce(1).write.csv("results_6000.csv")
results.write.csv("td_results_6000.csv")

__Open Results__

In [27]:
import pandas as pd
myres = pd.read_csv("td_results_6000.csv", names=['road_name', 'number_vehicles'])

In [28]:
myres

                              road_name  number_vehicles
0                    Camino del Espinar                3
1   Carretera Particular de la Zarzuela                2
2               Avenida de la Pesadilla                1
3                   Calle Enrique Casas                1
4                 Calle de Valdemorillo                1
..                                  ...              ...
84                      enlace con M-40                1
85                             Calle XX                1
86                Camino del Esparragal                1
87                 Calle de los Morales                1
88                 Calle de las Acacias                1

[89 rows x 2 columns]